name: boostsecurity.io
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
jobs:
  boost-sast:
    name: SAST
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.7.1
      - name: Native Scanner
        uses: boostsecurityio/boostsec-scanner-github@v4
        with:
          api_token: ${{ secrets.BOOST_API_KEY }}
          registry_module: boostsecurityio/native-scanner
          pre_scan_cmd: |
            helm template canaries/helm/charts/hello-world --output-dir ./generated
      - name: Trivy Image
        uses: boostsecurityio/boostsec-scanner-github@v4
        env:
          BOOST_IMAGE_NAME: public.ecr.aws/boostsecurityio/boost-scanner-brakeman:bece2bd
        with:
          api_token: ${{ secrets.BOOST_API_KEY }}
          registry_module: boostsecurityio/trivy-image
#   boost-sast-dev:
#     name: SAST (Dev)
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v3
#       - name: Native Scanner
#         uses: boostsecurityio/boostsec-scanner-github@v4
#         with:
#           api_endpoint: https://api.dev.boostsec.io
#           api_token: ${{ secrets.BOOST_API_KEY_DEV }}
#           registry_module: boostsecurityio/native-scanner
#           pre_scan_cmd: |
#             helm template canaries/helm/charts/hello-world --output-dir ./generated
